{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
            integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
            integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">

  <link rel="stylesheet" href="{% static 'intro.css' %}" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeeDee</title>
</head>


<body>

<div class="intro">
    <h1 class="logo-header" style="color:lightpink">
        <span class="logo" >Dee</span><span class="logo">Dee</span>
    </h1>
</div>

<body style="

        background-image: url(https://lh4.googleusercontent.com/proxy/aQuvbFQexVANZzTrarV8iCsiCh_Tl2K9-J7cB4cpqA1uNy32WBRtqn2pjEeqXx3g0VdUO_xCOlWqYyU383U5pjqY--y7QWN_dJPkF2rjAWCmq385=w3840-h2160-p-k-no-nd-mv);
          color:floralwhite;

"
      data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a href="{% url 'home_page' %}"><h1><strong>DeeDee</strong></h1></a>
            <h2>AI</h2>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'home_page' %}">Home</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'users_create' %}">Sign up</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'account' %}">Account</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Log in</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'chatbot' %}">ChatBot</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="{% url 'contact' %}">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="button  is-outlined">
                    <i class="fas fa-align-left"></i>

                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'wallet_main_page' %}">MyPocket</a>

                        </li>
                        {% if user.is_authenticated %}

                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'account' %}">Account</a>

                            </li>

                        {% endif %}
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">
                                Log out, {{ request.user.first_name }} {{ request.user.last_name }}
                            </a>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'users_create' %}">Sign up</a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'login' %}">Log in</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}

              <div class="box ">

     <p><h1>Welcome to DeeDee</h1></p>

        <p >DeeDee's purpose is to serve the user as a personal and virtual assistant.<br>
        DeeDee's features are face recognition, for easier and modern login, chat bot,<br>
        to make interactions with the user, and maybe in the future it can handle<br>
        complex vocal commands such as creating an event in the calendar for the user.<br>
        Also with DeeDee, the user can create tasks and events as reminders, types of<br>
        the events or deadline information are shown. DeeDee's wish is to help the user<br>
        as much as she can: so she provides basic weather information and also within<br>
        the wallet information data from the user, she can help him to see the total income<br>
        value or the payments or to display a better view of the flow of user's money.</p>
</div>
</div>





        {% endblock %}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>





{#<script src="C:\Users\Denis\deedeedjango" #}
<script>
    let intro = document.querySelector('.intro');
    let logo = document.querySelector('.logo-header');
    let logoSpan = document.querySelectorAll('.logo');

    window.addEventListener('DOMContentLoaded', () => {

        setTimeout(() => {

            logoSpan.forEach((span, idx) => {
                setTimeout(() => {
                    span.classList.add('active');
                }, (idx + 1) * 400)
            });

            setTimeout(() => {
                logoSpan.forEach((span, idx) => {
                    setTimeout(() => {
                        span.classList.remove('active');
                        span.classList.add('fade');
                    }, (idx + 1) * 50)
                })
            }, 2000);
            setTimeout(()=>{
                intro.style.top = '-100vh';
            },2300)
        })
    })</script>
</body>


</html>
