{% extends 'base.html' %}

{% block title %}DeeDee{% endblock %}
{% block content %}
    <div class="box" aria-setsize="6px">
        <form method="post" action="">
            {% csrf_token %}

            {% for field in form %}
                <div class="field">
                    <label class="label">{{ field.label }}</label> {# ne afiseaza denumirea campului #}
                    <div class="control">
                        {{ field }} {# aduce inputul pt fiecare field #}
                    </div>
                    <span class="color_red">{{ field.errors }}</span> {# afiseaza erorile #}
                </div>
            {% endfor %}

            <button type="submit" class="button is-success">Send</button>
            <a href="{% url 'home_page' %}">Back</a>

        </form>
    </div>
{% endblock %}