{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="box" aria-setsize="6px">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <a style="color: mediumpurple" href="{% url 'password_reset' %}">Password forgotten</a>
        </form>
        <form>
            <input type="hidden" name="photo">
            <button type="button" onclick="getVideoFrame()">Face Login</button>
        </form>
    </div>
    <div id="video" style="height: 500px; width: 500px;"></div>
    <canvas id="canvas" style="height: 500px; width: 500px;"></canvas>
    <div id="printresult"></div>
    <script>
        var video = document.querySelector("#video");
        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({video: true})
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (err0r) {
                    console.log("Something went wrong!");
                });
        }

        function getVideoFrame() {
            var resultb64 = "";

            var canvas = document.getElementById('canvas');
            var video = document.getElementById('video');
            canvas.width = 200;
            canvas.height = 200;
            canvas.getContext('2d').drawImage(video, 0, 0, 200, 200);
            document.getElementById("printresult").innerHTML = canvas.toDataURL();

            return resultb64;
            {#document.getElementById("printresult").innerHTML = ;#}
        }
    </script>

{% endblock %}
