{% extends 'base.html' %}
{% block title %}Reset completed{% endblock %}
{% block content %}
<div class="box" aria-setsize="6px">
    <p>You changed your password successfully</p>
    <a href="{% url 'login' %}">Log in</a>
</div>
{% endblock %}