{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <div class="box" aria-setsize="6px">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Reset password</button>
    </form>
    </div>
{% endblock %}