{% extends 'base.html' %}
{% block title %} Password reset done{% endblock %}
{% block content %}
<div class="box" aria-setsize="6px">
    <p>We sent you an email with instructions in order to reset your password.</p>
</div>
{% endblock %}