{% extends 'base.html' %}
{% block title %}DeeDee{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

    <div  style="align-items: center" class="box" >

        <div ><strong>Wallet</strong></div>
        <br>
        <div  class="box col-sm-3 m-2 card deedee-card" style="background-color:aliceblue;">
            <div>
                <strong>Total income/month</strong>
                <br>
                {% for result in monthly_income %}

                    {{ result }}
                {% endfor %}
            </div>
            <br>
            <div>
                <strong>Total taxes/month</strong>
                <br>
                {% for result in monthly_taxes %}

                    {{ result }}
                {% endfor %}
            </div>
        </div>

        <div class="box col-sm-3 m-2 card deedee-card" style="background-color:lightgreen">
            <div>
                <strong>Total money made</strong>
                <br>
                {% for result in money_made %}
                    {{ result }}
                {% endfor %}

            </div>
            <div>
                <strong>Other incomes added</strong>
                <br>
                {% for result in other_incomes %}
                    {{ result }}
                {% endfor %}

            </div>
        </div>

        <div>
            <div class="box col-sm-3 m-2 card  deedee-card" style="background-color:lightsalmon">
                <div>
                    <strong>Total taxes paid</strong>
                    <br>
                    {% for result in taxes_paid %}
                        {{ result }}
                    {% endfor %}
                </div>
                <br>

                <div>

                    <strong>Total payments made</strong>
                    <br>
                    {% for result in total_payments %}
                        {{ result }}
                    {% endfor %}

                </div>
            </div>

            <div class="box col-sm-3 m-2  card deedee-card" style="background-color:lightblue">
                <div>
                    <strong>Total money saved</strong>
                    <br>
                    {% for result in money_saved %}
                        {{ result }}
                    {% endfor %}
                </div>

                <br>
                <div>
                    <strong>Budgets</strong>
                    <br>
                    {% for data in budget %}
                            {{ data.name }}

                        <br>
                             {% for x in value %}

                                  {% endfor %}

                        <br>

                    {% endfor %}
                </div>
            </div>

        </div>
        <div id="chart_div" style="width: 900px; height: 500px;"></div>

</div>
{% endblock %}