{% extends 'base.html' %}
{% block title %}DeeDee{% endblock %}
{% block content %}
    <div class="box animate fadeUp" aria-setsize="6px">
        <div style="text-align: center;">
            <h1><strong>Welcome to your pocket</strong></h1>
            <h1>The function of DeeDee is to manage your time to help your productivity.</h1>
            <h1>Also we have added a function to help you administrate your wallet, we </h1>
            <h1>don't need your wallet data, we purely want to help you manage your money.</h1>
        </div >
        <div class="col-sm-3 m-2 card wrapper_wallet">
            <div style="background-color:floralwhite" class="box col-sm-3 m-2 card ">
                <strong>Info add</strong>
                <br>
                <a style="color:limegreen" href="{% url 'income_add' %}">* Add new income *</a>
                <a style="color:indianred" href="{% url 'expense_add' %}">Add new expense *</a>
                <a style="color:mediumpurple" href="{% url 'budget_add' %}">Add new budget *</a>
                <a style="color:orange" href="{% url 'payment_add' %}">Add new payment *</a>
            </div>
            <br>
            <div style="background-color:floralwhite" class="box col-sm-3 m-2 card animation fadeIn" >
                <strong>Info visualization</strong>
                <br>
                <a style="color:limegreen" href="{% url 'income_list_view' %}">* See your income/s *</a>
                <a style="color:indianred" href="{% url 'expense_list_view' %}">See your expense/s *</a>
                <a style="color:mediumpurple" href="{% url 'budget_list_view' %}">See your budget/s *</a>
                <a style="color:orange" href="{% url 'payment_list_view' %}">See your payment/s *</a>
            </div>
            <br>
            <div style="background-color: floralwhite" class="box col-sm-3 m-2 card deedee-card">
                <strong>General visualization</strong>
                <br>
                <a style="color:cornflowerblue" href="{% url 'wallet_list_view' %}">See your wallet *</a>
            </div>
        </div>
        <p style="text-align: center;">
    <a style="color:cornflowerblue;  " href="{% url 'home_page'  %}">Home</a></p>
    </div>


{% endblock %}