{% extends 'base.html' %}
{% block title %}DeeDee{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}

    {{ form.as_p }}
     <button type="submit">Edit</button>
        <a href={%  url 'income_list_view' %}>Back to income list</a>
    </form>

{% endblock %}