{% extends 'base.html' %}
{% block title %} DeeDee{% endblock %}

{% block content %}
    <form method="post">
    <h3>Are you sure you want to remove this budget?</h3>
    {% csrf_token %}
    <button type="submit">Yes.</button>
    <a href={%  url 'budget_list_view' %}>No.</a>
    </form>

{% endblock %}