
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


header{
    position: relative;
    left: 0;
    top: 0;
    width: 1005px;
    height: 80px;

}


header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* splash screen */
.intro {
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: #6d7fcc;
    transition: 1s;
}
.logo-header{
    position:absolute;
    top:45%;
    left:48%;
    transform: translate(-50%,-50%);
    color: #ffffff
}


.logo{
    position: relative;
    display:inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}