{% extends 'base.html'%}

{% block title %}DeeDee{% endblock %}
{% block content %}



    <h1>Budget list</h1>
<section class="section">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                     <th>Budget name</th>
                    <th>Percentage of saved money </th>



                </tr>
                </thead>
                <tbody>
                    {% for budget in all_budgets  %}
                        <tr>
                            <td>{{budget.name}}</td>
                            <td>{{budget.percentage}}</td>



                            <td><a href="{% url 'budget_update' budget.id %}">Edit</a>
                           <a href="{% url 'budget_delete' budget.id %}">Delete</a>
                            </td>
                    {% endfor %}
                </tbody>
            </table>
             <a style="color:cornflowerblue" href="{% url 'budget_add' %}">Add a new budget</a>
                         <a style="color:cornflowerblue" href="{% url 'wallet_main_page' %}">* Back to wallet main page</a>

        </div>


    </section>


{% endblock %}