{% extends 'base.html' %}

{% block title %}DeeDee{% endblock %}
{% block content %}


    <h1>Expenses list</h1>
    <section class="section">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Expense name</th>
                    <th>Expense value</th>
                    <th>Expense date</th>

                </tr>
                </thead>
                <tbody>
                {% for expense in all_expenses %}
                    <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.value }}</td>
                    <td>{{ expense.date }}</td>


                    <td><a href="{% url 'expense_update' expense.id %}">Edit</a>
                    <a href="{% url 'expense_delete' expense.id %}">Delete</a>
                    </td>
                {% endfor %}
                </tbody>
            </table>
    <a style="color:cornflowerblue" href="{% url 'expense_add' %}">Add a new expense</a>
                         <a style="color:cornflowerblue" href="{% url 'wallet_main_page' %}">* Back to wallet main page</a>

        </div>


    </section>


{% endblock %}