{% extends 'base.html' %}

{% block title %}Income{% endblock %}
{% block content %}


    <h1>Income list</h1>
    <section class="section">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Income name</th>
                    <th>Income value</th>
                    <th>Income date</th>

                </tr>
                </thead>
                <tbody>
                {% for income in all_incomes %}
                    <tr>
                    <td>{{ income.name }}</td>
                    <td>{{ income.value }}</td>
                    <td>{{ income.date }}</td>


                    <td><a href="{% url 'income_update' income.id %}">Edit</a>
                    <a href="{% url 'income_delete' income.id %}">Delete</a>
                    </td>
                {% endfor %}
                </tbody>
            </table>
        <a style="color:cornflowerblue" href="{% url 'income_add' %}">Add a new income</a>
                         <a style="color:cornflowerblue" href="{% url 'wallet_main_page' %}">* Back to wallet main page</a>

        </div>


    </section>


{% endblock %}