{% extends 'base.html' %}

{% block title %}DeeDee{% endblock %}
{% block content %}


    <h1>Payment list</h1>
    <section class="section">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Payment name</th>
                    <th>Payment value</th>
                    <th>Payment budget</th>

                </tr>
                </thead>
                <tbody>
                {% for payment in all_payments %}
                    <tr>
                    <td>{{ payment.product }}</td>
                    <td>{{ payment.price}}</td>
                    <td>{{ payment.budget }}</td>


                    <td><a href="{% url 'payment_update' payment.id %}">Edit</a>
                    <a href="{% url 'payment_delete' payment.id %}">Delete</a>
                    </td>
                {% endfor %}
                </tbody>
            </table>
            <a style="color:cornflowerblue" href="{% url 'payment_add' %}">Add a new payment</a>
                         <a style="color:cornflowerblue" href="{% url 'wallet_main_page' %}">* Back to wallet main page</a>

        </div>


    </section>


{% endblock %}