{% extends 'base.html' %}
{% block title %}DeeDee{% endblock %}
{% block content %}

    <div class="box" aria-setsize="6px">
        <h1><strong>Account</strong></h1>
        <br>
        {% for data in account_data %}
            <div><strong>First name</strong></div>
            {{ data.first_name }}
            <div><strong>Last name</strong></div>
            {{ data.last_name }}
            <div><strong>Age</strong></div>
            {{ data.age }}
            <div><strong>City</strong></div>
            {{ data.city }}
            <div><strong>Email</strong></div>
            {{ data.email }}
            <div><strong>Birthdate</strong></div>
            {{ data.date_of_birth }}
            <div><strong>Phone</strong></div>
            {{ data.phone }}
            <br>
            <div><a style="color:cornflowerblue" href="{% url 'password_change' %}">Change password</a></div>
            <div><a style="color:cornflowerblue" href="{% url 'user_edit' data.id %}">Edit your account</a></div>
        {% endfor %}
    </div>
{% endblock %}