{% extends 'base.html' %}
{% block title %}Sign up {% endblock %}

{% block content %}
<div class="box" aria-setsize="6px">
    <form method="POST">
        {% csrf_token %}
    {#  {{ form.as_p }} #}
        {% for field in form %}
            <div class="field">
                <label class="label">{{ field.label }}</label>
                <div class="control">
                    {{ field }}
                </div>

                <p class="help">{{ field.errors }}</p>
            </div>
        {% endfor %}
    <button type="submit">Sign up</button>
    </form>
</div>
{% endblock %}