{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
    <div class="box" aria-setsize="6px">
    <form method="post">
    {% csrf_token %}

    {{ form.as_p }}
     <button type="submit" class="button is-success">Edit</button>
        <a href={%  url 'account' %}>Back</a>
    </form>

    </div>
{% endblock %}