{% extends 'base.html' %}

{% block title %}DeeDee{% endblock %}
{% block content %}
    <div class="box" aria-setsize="6px">
        <form method="post" action="">
            {% csrf_token %}

            {% for field in form %}
                <div class="field">
                    {% if field.label == 'Name' %}
                        <label class="label">Income {{ field.label }}</label> {# ne afiseaza denumirea campului #}
                    {% elif  field.label == 'Value' %}
                        <label class="label">Income {{ field.label }}</label>
                    {% else %}
                        <label class="label">{{ field.label }}</label>
                    {% endif %}

                    <div class="control">
                        {{ field }} {# aduce inputul pt fiecare field #}
                    </div>
                    <span class="color_red">{{ field.errors }}</span> {# afiseaza erorile #}
                </div>
            {% endfor %}

            <button type="submit" class="button is-success">Send</button>
               <a href="{% url 'wallet_main_page' %}">* Back to pocket main page *</a>
            <a href="{% url 'home_page' %}">Back to home *</a>
        </form>

    </div>
{% endblock %}